/**
    Project name: Notix-Admin
    File name: admin.scss
*/

@import "../_static/_colors";
@import "../_static/_vars";

body, html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}